<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>NCNU 課程快速搜尋</title>
        <link rel="stylesheet" type="text/css" href="index.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
        <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script> -->
        <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> -->
        <script type="text/javascript" src="index.js"></script>
        <script type="text/javascript" src="animation.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css">

    </head>
    <body>
        <nav id="nav" class="navbar navbar-inverse my-navbar" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">NCNU COURSE</a>
                </div>
                <div>
                    <ul class="nav navbar-nav navLinks">
                        <li><a href="https://github.com/yiyu0x/ncnu-course-search-engine/issues" target="_blank" rel="noopener noreferrer">問題回報</a></li>
                        <li><a id="GitHub" href="https://github.com/yiyu0x/ncnu_course" target="#">GitHub</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div id="container" class="container">
            <div id="header" class="row form-group">
                <form action="/search" method="get">
                    <div class="col-md-12">
                        <!-- this is faculty select option-->
                        <div class="field">
                            <label for="fac">學院 :</label>
                            <select name="faculty" value="不指定" id="fac" onchange="f1()">
                                <option>不指定</option>
                                <option v-for="faculty in faculty_list">{{ faculty }}</option>
                            </select>
                        </div>
                        <!-- this is department select option-->
                        <div class="field">
                            <label for="dep">開課單位 :</label>
                            <select name="department" value="不指定" id="dep">
                                <option>不指定</option>
                                <option v-for="department in department_list">{{ department }}</option>
                            </select>
                        </div>
                        <!-- this is credit select option-->
                        <div class="field">
                            <label for="credit">學分 :</label>
                            <select name="credit" id="credit" value="不指定">
                                <option>不指定</option>
                                <option>0</option>
                                <option>0.5</option>
                                <option>1.0</option>
                                <option>2.0</option>
                                <option>3.0</option>
                            </select>
                        </div>
                        <!-- this is division select option-->
                        <div class="field">
                            <label for="division">班別 :</label>
                            <select name="division" id="division" value="不指定">
                                <option>不指定</option>
                                <option>學士班</option>
                                <option>碩士班</option>
                                <option>博士班</option>
                            </select>
                        </div>
                        <!-- this is location select option-->
                        <div class="field">
                            <label for="location">地點 :</label>
                            <select name="location" id="location" value="不指定"> 
                                <option>不指定</option>
                                <option v-for="location in location_list">{{ location }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <!-- this is input text for teacher name-->
                        <div class="field">
                            <label for="teacher">教師姓名 :</label>
                            <input name="teacher" id="teacher" type="text" size="9" autocomplete="off">
                            <!-- <input name="teacher" id="teacher" type="text" size="9" list="teacher_name" autocomplete="off" class="awesomplete"> -->
                            <!-- <datalist id="teacher_name">
                                <option v-for="teacher in teacher_list">{{ teacher }}</option>
                            </datalist> -->
                        </div>
                        <!-- this is input text for class time-->
                        <div class="field">
                            <label for="classtime">授課時段 :</label>
                            <input name="classtime" id="classtime" type="text" size="9" autocomplete="off">
                            <!-- <input name="classtime" id="classtime" type="text" size="9" list="time" autocomplete="off">
                            <datalist id="time">
                                <option v-for="time in time_list">{{ time }}</option>
                            </datalist> -->
                        </div>
                        <!-- this is class-id-->
                        <div class="field">
                            <label for="course_id">課號查詢 :</label>
                            <input name="course_id" id="course_id" type="text" size="5" autocomplete="off">
                            <!-- <input name="course_id" id="course_id" type="text" size="5" list="courseID_list" autocomplete="off">
                            <datalist id="courseID_list">
                                <option v-for="courseID in courseID_list">{{ courseID }}</option>
                            </datalist> -->
                        </div>
                        <!-- this is submit button-->
                        <div class="field pull-right">
                            <input id="submit" type="submit" value="查詢" class="btn btn-default btn-lg ">
                            <input id="clean" type ="button" onclick="javascript:location.href='/'" value="清除" class="btn btn-default btn-lg "></input>
                        </div>
                    </div>
                </form>
            </div>
            <div id="show" class="container">
                <fieldset id="fieldset">
                    <legend>課程資訊</legend>
                    <div id="information">
                        <table class="table table-striped table-hover custom-table text-center">
                            <thead>
                                <tr>
                                    <th>開課單位</th>
                                    <th>課程名稱</th>
                                    <th>教師姓名</th>
                                    <th id="class">班別</th>
                                    <th id="pos">地點</th>
                                    <th id="time">時間</th>
                                    <th id="rate">學分</th>
                                    <th id="id">課號</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (typeof items !== 'undefined') for(var i=0;i<items.length;i++) {%>
                                        <tr>
                                            <td><%= items[i][0] %></td>
                                            <td><%= items[i][1] %></td>
                                            <td><%= items[i][2] %></td>
                                            <td><%= items[i][3] %></td>
                                            <td><%= items[i][4] %></td>
                                            <td><%= items[i][5] %></td>
                                            <td><%= items[i][6] %></td>
                                            <td><%= items[i][7] %></td>
                                        </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </fieldset>
            </div> 
        </div>
        <script type="text/javascript" src="v.js"></script>
    </body>
</html>
